In [1]:
lst=[1,2,3,4,5]
lst.pop()

5

In [2]:
lst

[1, 2, 3, 4]

In [3]:
lst.pop(3)
lst

[1, 2, 3]

In [4]:
lst.count(2)

1

sets,dictionaries and tuples

In [5]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [6]:
set_var={"Avengers","Iron man","batman"}
print(set_var)
type(set_var)

{'batman', 'Avengers', 'Iron man'}

set

In [7]:
set_var.add("hulk")

In [8]:
print(set_var)

{'batman', 'hulk', 'Avengers', 'Iron man'}

In [9]:
dicct={"car1":"audi","car2":"bmw","car3":"mercedies"}
dicct['car1']

'audi'

In [10]:
for x in dicct:
    print(x)

car1
car2
car3

In [12]:
for x in dicct.values():
    print(x)

audi
bmw
mercedies

In [1]:
# Create a tuple using round brackets
t1 = (1, 2, 3, 4)

In [2]:
# Create a tuple from a list the tuple() constructor
t2 = tuple([1, 2, 3, 4, 5])

In [3]:
# Print out tuples
print(f"Tuple t1: {t1}")
print(f"Tuple t2: {t2}")

Tuple t1: (1, 2, 3, 4)
Tuple t2: (1, 2, 3, 4, 5)